development/logs/*
development/static/*
development/settings.py
development/*.pyc
supplieriq/*.pyc
supplieriq/__init__.pyc
development/__init__.pyc
supplieriq/migrations/*
env/*
development/wsgi.py
supplieriqmatch/*.pyc
