{% extends "base.html" %}
{% load static %}
{% load generic_tags %}
{% block content%}
<script type="text/javascript">
$(document).ready(function() {
	 $('#example1').DataTable();	
});
</script>
<div class="siq_company_heading siq_welcome siq_dashboard_heading"  ng-controller="VendorController">
	<div class="container">
		<div class="row">
			<h3><strong>Item Receipt</strong></h3>
			<div class="siq_left_info_box  col-sm-12 col-lg-12"> 
				{% for key, value in serializer.items%}
					{% if key == 'vendor' %}
						<span><h4><b>{{serializer.item_receipt}}</b>  {{value.vendor_name}}</h4></span><br/>
					{% endif %}
				{% endfor %}	
				<div class="vendorLabel"><b>Primary Information</b></div>			
				<div class="vendorInfo row">
					{% for key, value in serializer.items%}
						{% if key == 'item_receipt' or key == 'date' or key == 'vendor' or key == 'created_from' or key == 'to_location'%}
						
						<div class="col-sm-6">							
							<label>
							   		{% format_label key%}
						  </label><br/>
							<span class="vendorDetail">
								{% if key == 'item_receipt' %}
									# {{ value }}
								{% elif key == 'created_from' %}
							   		  <a href="/purchase_order/?id={{value}}"> # PO{{value}}</a>
							    {% elif key == 'to_location' %}
							        {{value}}
							    {% else %}
							   		{% if key == 'date' %}
							   			{% convert_to_date value %}
							   	
							   		{% else %}
							   			<a href="/vendors/?id={{value.vendor_id}}">{{value.vendor_name}}</a>
							   		{% endif %}
							   {% endif %}
								
							</span><br/>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				{{serializer}}
				<div class="vendorLabel"><b>Item Details </b></div>
				<div class="vendorInfo row">
					<table class="table table-striped table-bordered custom_datatable" id="example1" cellspacing="0" width="100%">
					<thead>
						<tr>							
							<th>Item</th>
							<th>Vendor Name</th>
							<th>Quantity </th>
							<th>Rate</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
					{% for x in serializer.item %}
						<tr class="gradeA odd" >	
							<td><a href="/items/?id={{x.item_id}}">{{x.item_name}}</a></td>
							<td>{{serializer.vendor.vendor_name}}</td>
							<td>{{x.quantity}}</td>
							<td>{{x.unit_price}}</td>
							<td>{{serializer.rating}}</td>
						</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
	 </div>
</div> 
{% endblock %}

