/* Login Page UI */
.login-container .form-horizontal .form-group label{
	width: 24%;
}


.login-container .form-horizontal .form-group input[type="email"].form-control,
.login-container .form-horizontal .form-group input[type="password"].form-control{
	display: inline-block;
	width:70%;
	margin: 8px;
}

.login-container .form-group .btn-success{
	margin: 0 0 0 28%;
}

.pagination > .active > a, .pagination > .active > a:focus,
 .pagination > .active > a:hover,
 .pagination > .active > span,
 .pagination > .active > span:focus,
 .pagination > .active > span:hover{
background-color: #806B23;
border-color: #806B23;
}

.pagination > li > a, 
.pagination > li > a:hover ,
.pagination > li > span{
	color: #806B23;
}

.v_id{
	display: none;
}
.form-group label{
	width: 40%;
}
.form-group input[type="text"].form-control{
	display: inline-block;
	width:50%;
	margin: 8px;
}
.i_id{
	display: none;
}