{% extends "base.html" %}
{% load static %}
{% load generic_tags %}
{% block content%}

<div class="siq_company_heading siq_welcome siq_dashboard_heading"  ng-controller="VendorController">
	<div class="container">
		<div class="row">
			<div class="siq_left_info_box siq_form_border  col-sm-6 col-md-offset-3 col-lg-6"> 
				<h4><strong>Item Details</strong></h4><br/>
				<div>
					{% for key, value in serializer.items%}
						{% if key != 'itemid' %}
						<div>
							<div class="form-group ">
								<label>{% format_label key%} : </label>
								{% if key == 'vendor' %}
									<div class="vendor_link">
									{% for data in value %}
										
											<a href="/vendors/?id={{data.vendorid}}">{{data.name}}{% if not forloop.last %},{% endif %}</a>
										
									{% endfor %}
									</div>
								{% else %}
									<input type="text" class="form-control" value="{{value}}" readonly><br/>
								{% endif %}
							</div>
						<div><br/>						
						{% endif %}
					{% endfor %}
				</div>
				</div>
			</div>
		 </div>
	</div> 
</div>
{% endblock %}

