{% extends "base.html" %}
{% load static %}
{% load rest_framework %}
{% block content%}

<div class="row">
		<div class="mainbox col-md-4 col-md-offset-1 col-sm-12 login-container" style="margin-top:100px">
   			<h1 class="media-heading siq_bold">
		       Log in
		    </h1>	<br><br>
		    <div class="panel panel-info">	  
		    <div class="siq_left_info_box siq_form_border col-sm-12 col-xs-12">   
		       	<div class="slide">	
		       		<div style="display:block" class="panel-body" id="formContent">
						<form class="form-horizontal" action="/" method="post" novalidate >
							<div>
						    {% csrf_token %}
						    
						    {% for key, value in errors.items %}
							    {% if key == 'non_field_errors'%}
							    <div class="form_errors">
							    	<div class="form_error_message">
							    	{{ value }}
							    	</div>
							    </div>
							    	
							    {% endif %}
						    {% endfor %}
						    {% render_form serializer %}
						    <br>
						    <div class="form-group">						        
						        <button type="submit" class="btn btn-primary btn btn-success col-md-offset-3">Sign in</button>						        
						    </div>
						    </div>
						</form>
					</div>
				</div>
			</div>
			</div>
   		</div>
</div>

{% endblock %}