
	<nav class="navbar navbar-default navbar-fixed-top siq_header_look" role="navigation">
		<div class="container-fluid siq_header_container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if not request.user.is_authenticated %}
					<a class="navbar-brand siq_grey" href="/" >supplier<span class="siq_bold">IQ</span><sup>&reg; </sup>purchaseSmart</a>
				{% else %}
					<a class="navbar-brand siq_grey" href="/">supplier<span class="siq_bold">IQ</span><sup>&reg; </sup>purchaseSmart</a>
				{% endif %}
			</div>

		<!-- Collect the nav links, forms, and other content for toggling -->		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			{% if request.user.is_authenticated and request.path != '/quote/'%}
				<ul class="nav navbar-nav siq_navbar_style">
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Company<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="/">Locations</a>
									</li>
								</ul>
							</li>
								<li class="dropdown">
									<a href="/items/" class="dropdown-toggle" >Items<span class="caret"></span></a>
									<!-- <ul class="dropdown-menu" role="menu">
										<li>
											<a href="/">
												Capability Profiles / Matches
											</a>
										</li>
									</ul> -->
								</li>
								<li class="dropdown">
									<a href="/vendors/" class="dropdown-toggle" >Vendors<span class="caret"></span></a>
									<!-- <ul class="dropdown-menu" role="menu">
										<li>
											<a href="/">
												Buying Preferences
											</a>
										</li>

									</ul> -->
								</li>
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions<span class="caret"></span></a>
								 <ul class="dropdown-menu" role="menu">
	                                <li>
										<a href="/runmatch/">Run Match</a>
									</li>
								</ul> 
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">Settings<span class="caret"></span></a>
								<!-- <ul class="dropdown-menu" role="menu">
	                                <li>
										<a href="/">Customers</a>
									</li>
								</ul> -->
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle">My Account<span class="caret"></span></a>
								<!-- <ul class="dropdown-menu" role="menu">
	                                <li>
										<a href="/">Customers</a>
									</li>
								</ul> -->
							</li>
				</ul>
			{% endif %} <!-- user_authenticated endif -->
			{% if not request.user.is_authenticated %} 
				{% if request.path == "/signup/" %}
					<ul class="nav navbar-nav navbar-right siq_navbar_style">
	        			<li><a href="/">Sign In</a></li>
	        		</ul>
				{% endif %} <!-- signup endif -->
				{% if request.path == "/signin/" %}
					<ul class="nav navbar-nav navbar-right">
	        			<li><a href="/">Sign Up</a></li>
	        		</ul>
				{% endif %} <!-- signin endif -->
			{% else %} <!-- user authenticated else -->
				{% if request.path != '/quote/' %}
				<ul class="nav navbar-nav navbar-right">
						<li>
	        			<li><a class="siq_inner_signup" href="/signout/">Sign Out</a></li>
	        		</ul>
	        	{% endif %}
			{% endif %} <!-- user authenticated endif -->
		</div>
	</div>
</nav>