{% extends "base.html" %}
{% load static %}
{% load generic_tags %}
{% block content%}
<script type="text/javascript">
$(document).ready(function() {
	var table = $('#example').DataTable();
	table.column( 3 ).visible( false );
	
	table.column( 6 ).visible( false );
} );
</script>
<div class="siq_company_heading siq_welcome siq_dashboard_heading"  ng-controller="VendorController">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12"> 
				<h4><strong>Purchase Orders</strong></h4>
				 <table class="table table-striped table-bordered custom_datatable" id="example" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>PO#</th>
							<th>PO Date</th>
							<th>Receive By Date</th>
							<th>Vendor</th>
							<th>ERP Id</th>
							<th>Total</th>
							<th>PoItem</th>
														
						</tr>
					</thead>
					<tbody>
						{% for data in serializer %}
						<tr class="gradeA odd" >							
							{% for key, value in data.items %}		
								{% if key == 'po_id' %}												
								<td><a href="javascript:void(0);" class="po_item" data-po-id="{{data.po_id}}">#PO{{data.po_id}}</a></td>		
								{% else %}
									{% if key == 'PO_date' or key == 'recieve_by_date' %}
										<td>{% convert_to_date value %}
									{% else %}
										<td>{{value}}</td>
									{% endif %}									
								{% endif %}
							{% endfor %} 
						</tr>
						{% endfor %} 
					</tbody>
				</table>
				</div>
			</div>
		 </div>
	</div> 
</div>
{% endblock %}

